.link {
  color: #ab8b3f;
  text-decoration: none;
  background-color: transparent;

  &:active,
  &:hover {
    color: #ab8b3f;
    text-decoration: underline;
    outline: 0;
  }

  &--more {
    &::after {
      content: "»";
      display: inline-block;
      margin-left: 3px;
      color: #282828;
    }
  }
}