.button {
  display: inline-block;
  min-height: 30px;
  padding: 0 15px;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 0;
  background-color: $color-bg;
  background-image: none;
  background-origin: border-box;
  color: #666;
  font: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 $color-bg;
  text-transform: none;
  overflow: visible;
  vertical-align: middle;
  -webkit-appearance: none;

  padding: 3px 14px;
  border: 1px solid #867d67;
  border-color: rgb(134, 125, 103);
  color: #867d67;
  font-size: 1.2rem;
  font-weight: 400;
  text-shadow: none;

  &:focus,
  &:hover {
    outline: none;
    background-color: #f5f5f5;
    color: #444;
    text-decoration: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &--transparent {
    border-color: $color-bg;
    opacity: .6;
    transition: opacity .3s ease;
    background-color: transparent;

    &:active,
    &:focus,
    &:hover {
      background: none;
      color: $color-bg;
    }
  }

  &--round {
    min-height: 25px;
    padding: 0 14px;
    border-radius: 30px;
    color: #282828;
    line-height: 23px;
  }

  &--active {
    border-color:#6ecd5b;
    background:#6ecd5b;
    color:$color-bg;

    &:hover,
    &:focus {
      background: #4fbc39;
      color: $color-bg;
    }
  }
}