.card__cert {
  &-wrapper {
    font-size: 1.15rem;
    font-weight: 700;
    list-style-type: disc;
    padding-left: unset;
    margin-top: 3px;
  }

  &-item {
    display: inline list-item;
    margin-left: 7px;

    &:first-child {
      margin-left: 0;
      list-style-type: none;
    }
  }
}