.nav__link {
  margin-right: -4px;
  padding: 13px 19px;
  color: $color-bg;
  transition: background .3s ease;

  &:hover {
    background: #aba495;
    text-decoration: none;
    color: $color-bg;
  }
}