// grid
$grid-breakpoints: (xs: 0, md: 700px);
$container-max-widths: (xs: 0, md: 940px);
$grid-gutter-width: 28px;

// colors
$color-main: #4f4f4f;
$color-bg: #fff;
$color-blue: #3a3f6d;

// icons
$font-icons: (
  "home": "\e900",
  "mail": "\e901",
  "garage" : "\e902",
  "search": "\e903",
  "menu": "\e904",
  "phone": "\e905",
  "city": "\e906",
);