$grid-breakpoints: (md: 700px);
$container-max-widths: (md: 940px);
$grid-gutter-width: 28px;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";