.tab__button {
  border: unset;
  border-bottom: 3px solid transparent;
  background: unset;
  padding: unset;
  padding-bottom: 5px;
  color: #3a3f6d;
  transition: all .3s ease;
  margin-right: 22px;

  &:hover,
  &:focus,
  &--active {
    color: #282828;
    text-decoration: unset;
    outline: none;
    border-bottom-color: #3a3f6d;
  }

  &:last-child {
    margin-right: 0;
  }
}